form {
  align-items: center;
  background-color: whitesmoke;
  border-color: lightsteelblue;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  width: 400px;
}

/*  https://www.w3schools.com/css/css_form.asp */
input {
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

textarea {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 150px;
  padding: 12px 20px;
  resize: none;
  width: 100%;
}

select {
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  padding: 16px 20px;
  width: 100%;
}

.form-button {
  border: none;
  cursor: pointer;
  margin: 4px 2px;
  padding: 16px 32px;
}
